#wall .tag-1 ~ div{
    display: none;
}

div#tag-3.slick.wicked{
    display: none;
}

div #tag-2{
    display: none;
}

div #tag-3{
    display: none;
}

/* #tag-2 #tag-3{
    display: none;
} */

.parent #tag-4{
    display: none;
}



#tag-5{
    display: none;
}

/* .parent div{
    display: none;
} */
